

<footer class="footer">
    <p>© 2013~2014 豌小豆工作室 All Rights Reserved.</p>
    <p>Contact:douapp@163.com,designed for anndayusong
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5739245'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s17.cnzz.com/stat.php%3Fid%3D5739245%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
